<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kitty Paw</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="/static/images/1.jpg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titan+One&family=Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body>

      <!-- Navegación -->
      <nav class="navbar navbar-expand-lg fixed-top">
          <div class="container-fluid">
              <!-- Logo -->
              <a class="navbar-brand" href="#">
                  <img src='/static/images/1.jpg' alt="Logo">
              </a>
              <div class="titulo" href="{% url 'home' %}">
                  Kitty Paw
              </div>

              <!-- Menú -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}#prototipo">Prototipo</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'home' %}#data">Data</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'login' %}">Tu Mascota</a>
                      </li>
                  </ul>
                  <!-- Botones de redes sociales -->
                  <div class="social-buttons d-none d-md-flex">
                      <a href="https://www.instagram.com/kittypaw/" target="_blank" class="me-3">
                          <i class="bi bi-instagram" style="font-size: 24px; color: #E4405F;"></i>
                      </a>
                      <a href="https://wa.me/1234567890" target="_blank" class="me-3">
                          <i class="bi bi-whatsapp" style="font-size: 24px; color: #25D366;"></i>
                      </a>
                      <a href="https://www.youtube.com/watch?v=NO9zutHJ2wA" target="_blank">
                          <i class="bi bi-youtube" style="font-size: 24px; color: #FF0000;"></i>
                      </a>
                  </div>
              </div>
          </div>
      </nav>

      
      <!-- Contenido principal -->
       {% block content %}{% endblock %}


      <!-- Scripts de Bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
  </body>
  </html>
</html>
  