{% extends 'base.html' %}
{% block content %}
 <!-- DATA -->
    <div class="content-data" id="prototipo">
        <div class="container">
            <h2>Prototipo</h2>
            <p>Este es el prototipo
            blablabla
            blalbal
            bllalbalbla
            lbalblabllba
            lbalblalba
            lablabllba
            lablalblab
            lablabllab
            lablablabl
            lablabl</p>
            <p>Este es el prototipo
            blablabla
            blalbal
            bllalbalbla
            lbalblabllba
            lbalblalba
            lablabllba
            lablalblab
            lablabllab
            lablablabl
            lablabl</p>
            <p>Este es el prototipo
            blablabla
            blalbal
            bllalbalbla
            lbalblabllba
            lbalblalba
            lablabllba
            lablalblab
            lablabllab
            lablablabl
            lablabl</p>
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
        </div>
    </div>

<!-- CONTACTANOS -->
    <div class="content-contacto" id="data">
        <div class="container">
            <h2>Data</h2>
            <p>Esta es la data</p>
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            <img src='/static/images/1.jpg' alt="Logo">
            
        </div>
    </div>
{% endblock %}